{% extends "layout.html" %}
{% block title %}{{ card.name }} - 课程详情 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">{{ card.name }}</h1>
        <h4 class="text-muted">{% for teacher in card.teachers %}
            <a href="{{ url_for("query.get_teacher", url_tid=teacher.teacher_id_encoded, url_semester=current_semester) }}">
                {{ teacher.name }}{{ teacher.title }}</a>{% if not loop.last %}、{% endif %}{% endfor %}
            及 {{ card.students|length }} 名学生</h4>
        <h4 class="text-muted">{{ card.week_string }}{{ card_day }}{{ card_time }}，{{ card.room }}</h4>

        <h4 class="text-muted">
            {% if config.FEATURE_GATING['course'] %}
                {% if cotc_rating>0 %}
                    评分：{{ cotc_rating }}分
                    <a href="{{ url_for('course.show_review', cotc_id=cotc_id) }}">看看学生的评价</a>
                {% else %}
                    尚未有人评分，<a href="{{ url_for('course.edit_review', cotc_id=cotc_id) }}">快来抢沙发吧</a>！
                {% endif %}
            {% endif %}
        </h4>
    </div>

    <br>
    <div class="row row-backbordered">
        <div class="col-sm-12">
            <div class="panel panel-default panel-floating panel-floating-inline">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>学院</th>
                            <th>专业班级</th>
                            <th>课表</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for each_student in card.students %}
                            <tr>
                                <td>{{ each_student.name }}</td>
                                <td>{{ each_student.deputy }}</td>
                                <td>{{ each_student.klass }}</td>
                                <td>
                                    <a href="{{ url_for('query.get_student', url_sid=each_student.student_id_encoded, url_semester=current_semester) }}"
                                       onclick="_czc.push(['_trackEvent', '同学页', '查询同学课表']);">查看课表</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}