{% extends "layout.html" %}
{% block title %}{{ course.name }} - 课程详情 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">{{ course.name }}</h1>
        <h4 class="text-muted">{{ course_teacher }}及 {{ course.students|length }} 名学生</h4>
        <h4 class="text-muted">{{ course.week_string }}{{ course_day }}{{ course_time }}，{{ course.room }}</h4>
        <h4 class="text-muted">本{{ course.type }}共 {{ course.hour }} 学时{% if show_union_class %}，合班名称：
            {{ course.union_name }}{% endif %}</h4>
    </div>

    <script type="text/javascript">
        (function () {
            var s = "_" + Math.random().toString(36).slice(2);
            document.write('<div style="" id="' + s + '"></div>');
            (window.slotbydup = window.slotbydup || []).push({
                id: "u3715413",
                container: s
            });
        })();
    </script>
    <br>
    <div class="row row-backbordered">
        <div class="col-sm-12">
            <div class="panel panel-default panel-floating panel-floating-inline">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>姓名</th>
                            <th>学院</th>
                            <th>专业班级</th>
                            <th>课表</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for each_student in course.students %}
                            <tr>
                                <td>{{ each_student.name }}</td>
                                <td>{{ each_student.deputy }}</td>
                                <td>{{ each_student.klass }}</td>
                                <td>
                                    <a href="{{ url_for('query.get_student', url_sid=each_student.sid_encrypted, url_semester=current_semester) }}"
                                       onclick="_czc.push(['_trackEvent', '同学页', '查询同学课表']);">查看课表</a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        (function () {
            var s = "_" + Math.random().toString(36).slice(2);
            document.write('<div style="" id="' + s + '"></div>');
            (window.slotbydup = window.slotbydup || []).push({
                id: "u3715406",
                container: s
            });
        })();
    </script>
    <!-- 多条广告如下脚本只需引入一次 -->
    <script type="text/javascript" src="//cpro.baidustatic.com/cpro/ui/cm.js" async="async" defer="defer"></script>
{% endblock %}