{% extends "layout.html" %}
{% block title %}{{ room.name }} - 教室 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">{{ room.name }}</h1>
        <h4 class="text-muted">{{ room.campus }} {{ room.building }}
        </h4>
        <form id="semester-choose-form">
            <select id="semester-select" name="semester">
                {% for each_semester in available_semesters %}
                    <option value="{{ each_semester[0] }}"
                            {% if each_semester[1]==True %}selected{% endif %}>{{ each_semester[0] }}</option>
                {% endfor %}
            </select>
        </form>

    </div>
    <br>

    <div class="row row-backbordered">
        <div class="col-sm-12">
            <div class="panel panel-default panel-floating panel-floating-inline">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th class="text-nowrap">周一</th>
                            <th class="text-nowrap">周二</th>
                            <th class="text-nowrap">周三</th>
                            <th class="text-nowrap">周四</th>
                            <th class="text-nowrap">周五</th>
                            {% if not empty_sat %}
                                <th class="text-nowrap">周六</th>
                            {% endif %}
                            {% if not empty_sun %}
                                <th class="text-nowrap">周日</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for time in range(1,7) if not ((time==6 and empty_6) or (time==5 and empty_5)) %}
                            <tr>
                                <td>{{ time*2-1 }}-{{ time*2 }}节</td>
                                {% for day in range(1,8) if not ((day==6 and empty_sat) or (day==7 and empty_sun)) %}
                                    <td>
                                        {% for every_class in cards[(day, time)] %}
                                            <b>{{ every_class.name }}</b><br>
                                            {% for teacher in every_class.teachers %}
                                                <a href="{{ url_for('query.get_teacher', url_tid=teacher.teacher_id_encoded, url_semester=current_semester) }}">
                                                    {{ teacher.name }}{{ teacher.title }}</a>
                                                {% if not loop.last %}、{% endif %}
                                            {% endfor %}
                                            <br>
                                            {{ every_class.week_string }}
                                            <br>
                                            <a href="{{ url_for('query.get_card', url_cid=every_class.card_id_encoded, url_semester=current_semester) }}"
                                               onclick="_czc.push(['_trackEvent', '查询页', '课程详情', '', '{{ every_class.card_id_encoded }}']);">课程详情</a>
                                            <br>
                                        {% endfor %}
                                    </td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
        $("select#semester-select").change(function () {
            window.location.href = "/classroom/" + "{{ rid }}" + "/" + $('select#semester-select option:selected').val();
        });

    </script>
{% endblock %}