{% extends "layout.html" %}
{% block title %}{{ name }}的课表 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">{{ name }}的课表</h1>
        <h4 class="text-muted">{{ falculty }} {{ class_name }}班
        </h4>

        <h4 class="text-muted">
            {% if config.FEATURE_GATING['user'] %}
                {% if session.get("current_logged_in_user", None) and session["current_logged_in_user"].sid==sid %}
                    <a href="{{ url_for('user.main') }}">个人中心</a>
                {% else %}
                    <a href="{{ url_for('user.login') }}">登陆</a>
                {% endif %} &nbsp;
            {% endif %}
        </h4>


        {% if no_import_to_calender==False %}
            <h4 class="text-muted">
                <a
                    href="{{ url_for('calendar.cal_page', resource_type="student", resource_identifier=sid, url_semester=current_semester) }}"
                    onclick="_czc.push(['_trackEvent', '查询页', '日历导出']);">导入到日历</a></h4>
        {% endif %}

        <br><br>
        <h4 class="text-muted">该同学设置了课表仅自己可见，请登陆后查看。</h4>
    </div>


{% endblock %}