{% extends "layout.html" %}
{% block title %}{{ name }}{{ title }} - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">{{ name }}</h1>
        <h4 class="text-muted">{{ falculty }} {{ title }}
        </h4>
        <form id="semester-choose-form">
            <select id="semester-select" name="semester">
                {% for each_semester in available_semesters %}
                    <option value="{{ each_semester[0] }}"
                            {% if each_semester[1]==True %}selected{% endif %}>{{ each_semester[0] }}</option>
                {% endfor %}
            </select>
        </form>


        <h4 class="text-muted visible-xs">课表内容较多，建议登陆电脑使用哦。网址：<br><a
                href="{{ url_for("main.main", _external=True) }}">{{ url_for("main.main", _external=True) }}</a>
        </h4>
        <h4 class="text-muted"><a
                href="{{ url_for('calendar.cal_page', resource_type="teacher", resource_identifier=tid, url_semester=current_semester) }}"
                onclick="_czc.push(['_trackEvent', '查询页', '日历导出']);">同步课表到日历</a>（支持几乎所有设备）</h4>
    </div>
    <br><br>
    <div class="row row-backbordered">
        <div class="col-sm-12">
            <div class="panel panel-default panel-floating panel-floating-inline">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th></th>
                            <th>周一</th>
                            <th>周二</th>
                            <th>周三</th>
                            <th>周四</th>
                            <th>周五</th>
                            {% if not empty_wkend %}
                                <th>周六</th>
                                <th>周日</th>
                            {% endif %}
                        </tr>
                        </thead>
                        <tbody>
                        {% for time in range(1,7) %}
                            <tr>
                                {% if not ((time==6 and empty_6) or (time==5 and empty_5)) %}
                                    <td>{{ time*2-1 }}-{{ time*2 }}节</td>
                                    {% for day in range(1,8) if not ((day==6 or day==7) and empty_wkend) %}
                                        <td>
                                            {% for every_class in classes[(day, time)] %}
                                                <b>{{ every_class['name'] }}</b><br>
                                                {{ every_class['week'] }}
                                                {% if every_class['location']!='None' %}
                                                    ，
                                                    <a href="{{ url_for('query.get_classroom', url_rid=every_class['classroom_id'], url_semester=current_semester) }}">{{ every_class['classroom'] }}</a>
                                                {% endif %}
                                                <br>
                                                <a href="{{ url_for('query.get_course', url_cid=every_class['cid'], url_semester=current_semester) }}"
                                                   onclick="_czc.push(['_trackEvent', '查询页', '课程详情', '', '{{ every_class['id'] }}']);">课程详情</a>
                                                <br>
                                            {% endfor %}
                                        </td>
                                    {% endfor %}
                                {% endif %}
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <br>
    <div class="hero hero-homepage">
        <h4 class="text-muted">温馨提示：你可以把这个页面加入收藏夹或添加到手机桌面，就不用每次输名字查啦！</h4>
    </div>

{% endblock %}
{% block scripts %}
    {% if sid == 'PEBJvQPd11RwMwDMj3At2ELn+i+Jk0XTQjST-SQeONA=' %}
        <script type="text/javascript">
            function specialColor() {
                //special pink color
                $('.swag-line').addClass("swag-line-special");

                $('.navbar-default .navbar-brand').animate({'color': '#71d4ff'});
                $('.navbar-default .navbar-nav>li>a').animate({'color': '#4bbaff'});

                $('.panel-floating').animate({'border-top-color': '#61e2ff'});
                $('.template-index a').animate({'color': '#71d4ff'});

            }

            $(document).ready(function () {
                setTimeout(specialColor, 1000);
            });
        </script>
    {% endif %}
    <script>
        $("select#semester-select").change(function () {
            window.location.href = "/teacher/" + "{{ tid }}" + "/" + $('select#semester-select option:selected').val();
        });

    </script>
{% endblock %}