{% extends "layout.html" %}
{% block title %}{{ name }} - 学生 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">{{ name }}</h1>
        <h4 class="text-muted">{{ falculty }} {{ class_name }}班
        </h4>

        <h4 class="text-muted">
            {% if config.FEATURE_GATING['user'] %}
                <a href="{{ url_for('user.login') }}">登录</a>
            {% endif %}
        </h4>

        <br><br>
        <h4 class="text-muted">
            {% if level==2 %}
                该同学设置了课表仅自己可见，请登录后查看。
            {% elif level==1 %}
                该同学设置了已登录用户可实名互访，请先登录。
            {% elif level==3 %}
                该同学设置了实名互访，而您设置了仅自己可见。您必须将自己的课表可见性调整为实名互访或完全公开才能访问此同学的课表。
                <br><a href="{{ url_for('user.main') }}">调整我的设置</a>
            {% endif %}
        </h4>
    </div>


{% endblock %}