[flake8]
ignore = E501, # E501 line too long
         E203, # whitespace before ':'
         E126, # continuation line over-indented for hanging indent
         W504, # line break after binary operator
         E303  # too many blank lines
per-file-ignores =
    everyclass/server/db/dao.py:W605
    everyclass/server/user/model/__init__.py:F401
    everyclass/server/utils/__init__.py:F401
    everyclass/server/entity/model/__init__.py:F401