[submodule "everyclass/server/utils/logbook_logstash"]
	path = everyclass/server/utils/logbook_logstash
	url = https://github.com/fr0der1c/logbook_logstash
[submodule "everyclass/rpc"]
	path = everyclass/rpc
	url = https://github.com/everyclass/everyclass-rpc
