# General
*.DS_Store
.AppleDouble
.LSOverride
.idea
.coverage
*.xls
*.pyc
*.tar.gz

# Python
__pycache__/
*$py.class

# Other related to this project
/fabfile.py
deploy/uwsgi-local.ini
everyclass/server/utils/db_migrate/alembic.ini
everyclass/server/utils/db_migrate/dev_versions

# Frontend
/frontend/node_modules
/frontend/qiniu_upload.log
/frontend/qiniu_settings.json
/frontend/dist

# Compiled frontend
/frontend/static/css/*-*-*.css

# ics files folder
/calendar_files/*.ics

# config
**/config/development.py
**/config/production.py
**/config/staging.py

maintenance
