# General
*.DS_Store
.AppleDouble
.LSOverride
.idea
.coverage
*.xls
*.pyc
*.tar.gz

# Python
__pycache__/
*$py.class

# Other related to this project
/fabfile.py

# Frontend
/frontend/node_modules
/frontend/qiniu_upload.log
/frontend/qiniu_settings.json

# Compiled frontend
/frontend/static/css/*-*-*.css

# ics folder
/everyclass/server/ics/*.ics

# config
**/config/development.py
**/config/production.py
**/config/staging.py
