{% extends "layout.html" %}
{% block title %}关于 - 每课{% endblock %}
{% block body %}
    <h1 class="rte-heading text-center">关于 EveryClass 每课</h1>
    <div class="row">
        <div class="rte col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
            <h4 class="p1">
                很高兴遇见你
            </h4>
            <p class="p1"><span class="s1"><b>每课是什么？<br></b></span>
                每课可以生成日历交换格式(.ics)文件，从而可以把你（学生或教师）的课表导入到手机、电脑的日历，让课程和你其他的日历事项在同一处展示，从而便于日程的安排。它还能查询课程信息、教室等，方便学生进行蹭课（甚至跨专业蹭课）。
            </p>
            <p class="p1"><span class="s1"><b>每课的团队成员？<br></b></span>
                每课的创始人是中南大学软件工程专业的学生 Frederic。此外，我们还有多位优秀的开发者：<a
                        href="https://github.com/wolfbolin" target="_blank">Wolfbolin</a>、<a
                        href="https://github.com/EmanuelGi" target="_blank">EmanuelGi</a>。
            </p>
            <p class="p1"><span class="s1"><b>每课的数据来源是什么？<br></b></span>
                网站的数据源来自学校网站上的公开信息，每课团队仅仅是对公开的信息进行了整合、分析和处理。
            </p>
            <p class="p1"><span class="s1"><b>每课盈利吗？<br></b></span>
                每课目前不收取任何费用。如果你愿意给项目提供支持，可以支付宝给我们一杯咖啡。（账号：vencent.stevens@gmail.com）请注意，如果我们收到的资金不足以维护正常运行，每课可能在将来的某天停止服务。
            </p>
            <p class="p1"><span class="s1"><b>我不是中南大学的学生，可以给这个项目做一个我们学校的版本吗？<br></b></span>
                每课是一个开源的项目，这意味着任何人都能获取到这个项目的源代码。<br>每课@CSU
                得以存在的基础是我们学校的教务系统非管理员可以查看全校学生课表。如果你们学校的教务系统也存在此特性，可以邀请你的极客朋友在 <a
                        href="https://github.com/fr0der1c/EveryClass-server" target="_blank">GitHub</a> 上 fork
                这个项目，然后将其修改为适合于你们学校的版本。
            </p>
            <p class="p1">
                <span class="s1"><b>创始人为什么想要做每课？<br></b></span>
                想要做这个东西，最初的原因是因为作为半个极简主义者，自己觉得看课表还要用一款单独的 App 太多余了。而且当我询问课程格子的客服"使用课程格子 App
                无法让课表和日历事项在一起显示，管理日程很不方便，能不能把课表导出到系统日历"时，<b>客服给的建议居然是让我把日历事项添加到课程格子</b>......总之场面一度非常尴尬，然后我决定自己写一个程序把课表导入到手机的系统日历。<br>
                正好当时自己在学 Python，就边学边做、把这个当成了自己的第一个正式的 Python 项目。从数据的爬取到网站的后端，全部都是用 Python 实现的。写 Python，或者说用 PyCharm 写
                Python，是件比较愉快的事情，至少比写 Java 好。所以我就抱着娱乐的心态慢慢写。<br>
                后来每课的名声逐渐大了起来，也吸引了其他优秀的开发者（<a href="https://github.com/wolfbolin" target="_blank">Wolfbolin</a>、<a
                    href="https://github.com/EmanuelGi" target="_blank">EmanuelGi</a>）加入。于是除了课表订阅的功能之外，我们逐渐加上了学生课表查询、老师课表查询、教室查询等功能。<br>
                所以，如果你喜欢每课，通过它和其他 App 的配合让每天变得不那么匆忙，就把它推荐给你的朋友们吧！
            </p>

            <p class="p1"><span class="s1"><b>联系我们<br></b></span>如果你对每课有任何意见或建议，欢迎加入每课用户交流群（QQ）：891409338 参与讨论。你也可以在我们的
                <a href="https://base.admirable.pro/c/everyclass">用户论坛</a> 发帖或 <a
                        href="mailto:frederic.t.chan@gmail.com">发送邮件反馈</a>。
            </p>
        </div>
    </div>
{% endblock %}