{% extends "layout.html" %}
{% block title %}关于 - 每课{% endblock %}
{% block body %}
    <h1 class="rte-heading text-center">关于 EveryClass 每课</h1>
    <div class="row">
        <div class="rte col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
            <h4 class="p1">
                很高兴遇见你
            </h4>

            <p class="p1">
                我是中南大学16级软件学院的 Frederic。每课是我一直打算做的一个项目，终于在2017年5月基本完工了。
            </p>
            <p class="p1">
                想要做这个东西，最初的原因是因为作为半个极简主义者，自己觉得看课表还要用一款单独的 App 太多余了。而且当我询问课程格子的客服"使用课程格子 App
                无法让课表和日历事项在一起显示，管理日程很不方便，能不能把课表导出到系统日历"时，<b>客服给的建议居然是让我把日历事项添加到课程格子</b>......总之场面一度非常尴尬，然后我决定自己写一个程序把课表导入到手机的系统日历。
            </p>
            <p class="p1">
                正好当时自己在学 Python，就边学边做、把这个当成了自己的第一个正式的 Python 项目。从数据的爬取到网站的后端，全部都是用 Python 实现的。写 Python，或者说用 PyCharm 写
                Python，是件比较愉快的事情，至少比写 Java 好。所以我就抱着娱乐的心态慢慢写。
            </p>
            <p class="p1">
                后来每课的名声逐渐大了起来，也吸引了其他优秀的开发者（<a href="https://github.com/wolfbolin" target="_blank">Wolfbolin</a>、<a
                    href="https://github.com/EmanuelGi" target="_blank">EmanuelGi</a>）加入。于是除了课表订阅的功能之外，我们逐渐加上了学生课表查询、老师课表查询、教室查询等功能。
            </p>
            <p class="p1">
                每课是否需要商业化，其实我们内部有很多次讨论。商业化的理由是，团队成员的时间投入和服务器运行的成本这些都还挺大的。但商业化之后我们需要对用户承担更多的责任。目前我们暂时是完全免费的状态，并且基础的查询服务会一直免费下去。一是因为现阶段的用户量不至于让我在服务器费用上大出血，二是因为我也希望更多人能通过每课形成更好的日程管理方案。<b>所以，如果你喜欢每课，通过它和其他
                App 的配合让每天变得不那么匆忙，就把它推荐给你的朋友们吧！</b>
            </p>

            <p class="p1"><span class="s1"><b>联系作者<br></b></span>如果你对每课有任何意见或建议，欢迎加入每课用户交流群（QQ）：891409338 参与讨论。你也可以在我们的
                <a href="https://base.admirable.one/c/everyclass">用户论坛</a> 发帖或 <a
                        href="mailto:frederic.t.chan@gmail.com">发送邮件反馈</a>。
            </p>
        </div>
    </div>
{% endblock %}