{% extends "layout.html" %}
{% block title %}{{ name }}的课表 - EveryClass @ CSU{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">{{ name }}的课表</h1>
        <h4 class="text-muted">{{ falculty }} {{ class_name }}班
        </h4>



        {% if no_import_to_calender==False %}
            <h4 class="text-muted"><a href="{{ url_for('cal.cal_page', id=stu_id) }}"
                                      onclick="_czc.push(['_trackEvent', '查询页', '日历导出']);">导入到日历</a></h4>
        {% endif %}

        <br><br>
        <h4 class="text-muted">应该同学要求，我们不能在此展示他（她）的课表。</h4>
    </div>


{% endblock %}