{% extends "layout.html" %}
{% block title %}{{ cotc["name"] }} - 课程评价 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">{{ cotc["teacher_name_str"] }}“{{ cotc["name"] }}”的课程评价</h1>
        <h4 class="text-muted">{% if count==0 %}暂无学生对当前老师的当前课程打分{% else %}平均评分：{{ avg_rate }}（{{ count }}
            人参与评分，满分5分）{% endif %}</h4>
        {% if session.get("current_logged_in_user", None) %}
            {% if user_is_taking %}
                <a href="{{ url_for("course_review.edit_review", cotc_id=cotc["cotc_id"]) }}">
                    <button>{% if reviewed_by_me %}修改我的评分{% else %}对此课程评分{% endif %}</button>
                </a>
            {% else %}
                你没有选这门课，无法对该课程进行评分。
            {% endif %}
        {% else %}
            <a href="{{ url_for('user.login') }}">登录</a>后您可以对此课程进行评分
        {% endif %}
    </div>
    <br><br>
    {% if count > 0 %}
    <div class="row row-backbordered">
        <div class="col-sm-12 col-md-8 col-md-offset-2">
            <div class="panel panel-default panel-floating panel-floating-inline">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                        <tr>
                            <th>学生</th>
                            <th>评分</th>
                            <th>评价</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for review in reviews %}
                            <tr>
                                <td>{{ review['student_name'] }}</td>
                                <td>{{ review['rate'] }}</td>
                                <td>{{ review['review'] }}</td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    {% endif %}
{% endblock %}