{% extends "layout.html" %}
{% block title %}邮件验证成功 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">验证成功</h1>
        <h4 class="text-muted">请设置你的每课密码。
        </h4>

    </div>
    <br><br>
    <div class="row row-backbordered">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-floating panel-floating-inline">
                <div class="table-responsive">
                    <form action="{{ url_for("user.email_verification") }}" method="POST">
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                            <tr>
                                <td>密码</td>
                                <td><input name="password"></td>
                            </tr>
                            <tr>
                                <td></td>
                                <td><input type="submit" value="完成注册"></td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
{% endblock %}