{% extends "layout.html" %}
{% block title %}登录 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">欢迎回来</h1>
        <h4 class="text-muted">登录后，你可以设置课表的可见性、使用上帝视角及其他高级功能。<br>还没有账号？请<a
                href="{{ url_for("user.register") }}">注册每课账号</a>。
        </h4>

    </div>
    <br><br>
    <div class="row row-backbordered">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-floating panel-floating-inline">
                <div class="table-responsive">
                    <form action="{{ url_for("user.login") }}" method="POST">
                        <table class="table table-striped table-bordered table-hover">
                        <tbody>

                        <tr>
                            <td>学号</td>
                            <td><input name="xh"><br>{% if name %}留空则作为{{ name }}登录{% endif %}</td>
                        </tr>
                        <tr>
                            <td>每课密码</td>
                            <td><input name="password" type="password"></td>
                        </tr>
                        <tr>
                            <td>验证码</td>
                            <td>
                                <a id="TencentCaptcha" data-appid="2053582977" data-cbfn="captcha_callback">
                                    点击这里验证你不是机器人
                                </a>
                                <input type="hidden" name="captcha-ticket" id="captcha-ticket" value="">
                                <input type="hidden" name="captcha-rand" id="captcha-rand" value="">
                            </td>
                        </tr>
                        <tr>
                            <td></td>
                            <td>
                                <input type="submit" value="登录" id="submit" disabled>
                            </td>
                        </tr>
                        </tbody>
                    </table>

                    </form>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script src="https://ssl.captcha.qq.com/TCaptcha.js"></script>
    <script>
        window.captcha_callback = function (res) {
            if (res.ret === 0) {
                $("input#captcha-ticket").val(res.ticket);
                $("input#captcha-rand").val(res.randstr);
                $("input#submit").attr('disabled', false);
                $("a#TencentCaptcha").text("验证已通过")
            }
        }
    </script>
{% endblock %}