{% extends "layout.html" %}
{% block title %}用户主页 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">你好，{{ name }}</h1>
        <h4 class="text-muted"><a href="{{ url_for("user.logout") }}">退出登录</a>
        </h4>

    </div>
    <br><br>
    <div class="row row-backbordered">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-floating panel-floating-inline">

                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr>
                            <td nowrap>课表可见度</td>
                            <td>
                                <select id="privacy-level-select">
                                    <option value="0" {% if privacy_level==0 %}selected{% endif %}>公开可见</option>
                                    <option value="1" {% if privacy_level==1 %}selected{% endif %}>实名互访</option>
                                    <option value="2" {% if privacy_level==2 %}selected{% endif %}>仅自己可见</option>
                                </select>
                                <div id="privacy-level-hidden"></div>
                                <ul>
                                    <li><b>公开可见</b>：所有用户可以查看到你的课表（默认）</li>
                                    <li><b>实名互访</b>：已登录用户可以访问你的课表，访问时会留下访客记录</li>
                                    <li><b>仅自己可见</b>：只有你自己可以看到自己的课表</li>
                                </ul>
                            </td>
                        </tr>
                        </tbody>
                    </table>

            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
        $("select#privacy-level-select").change(function () {
            $.post('{{ url_for('user.js_set_preference') }}',
                {'privacyLevel': $('select#privacy-level-select option:selected').val()},
                function () {
                    $("div#privacy-level-hidden").text("设置成功");
                });
        });

    </script>
{% endblock %}