{% extends "layout.html" %}
{% block title %}使用密码注册 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">注册</h1>
        <h4 class="text-muted">
        </h4>

    </div>
    <br><br>
    <div class="row row-backbordered">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-floating panel-floating-inline">
                <div class="table-responsive">
                    <form action="{{ url_for("user.register_by_password") }}" method="POST">
                        <table class="table table-striped table-bordered table-hover">
                            <tbody>
                            <tr>
                                <td>用户</td>
                                <td>{{ name }}</td>
                            </tr>
                            <tr>
                                <td>教务密码</td>
                                <td>
                                    <input name="jwPassword" type="password"><br>仅临时用于身份验证，不会被保存
                                </td>
                            </tr>
                            <tr>
                                <td class="text-nowrap">每课密码</td>
                                <td>
                                    <input name="password" type="password" id="password">
                                    <br>
                                    <div id="password-notice"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>每课密码（重复）</td>
                                <td>
                                    <input name="password2" type="password" id="password2">
                                    <br>
                                    <div id="password2-notice"></div>
                                </td>
                            </tr>
                            <tr>
                                <td>验证码</td>
                                <td>
                                    {{ recaptcha }}
                                </td>
                            </tr>
                            <tr>
                                <td></td>
                                <td>
                                    <input type="submit" value="完成注册">
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script>
        $("input#password").change(function () {
            $.post('{{ url_for('user.password_strength_check') }}',
                {'password': $('input#password').val()},
                function (data) {
                    window.console.log(data);
                    if (data["strong"] === true) {
                        $("div#password-notice").text("");
                    } else {
                        $("div#password-notice").text("密码过弱，请设置强一些的密码");
                    }
                });
        });
        $("input#password2").change(function () {
            if ($('input#password').val() !== $('input#password2').val()) {
                $("div#password2-notice").text("两次密码输入不一致，请检查");
            } else {
                $("div#password2-notice").text("");
            }
        });

    </script>
{% endblock %}