{% extends "layout.html" %}
{% block title %}验证学生身份 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header" id="title">请稍候...</h1>

        <br><br>
        <h4 class="text-muted" id="message">正在验证你的学生身份，请勿关闭此页面。</h4>
        <br>

    </div>



{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        $(document).ready(function () {
            var final = false;

            function getData() {
                $.getJSON('{{ url_for('user.register_by_password_status') }}', {'request': '{{ request_id }}'}, function (data) {
                    if (data.message === 'SUCCESS') {
                        window.location.href = "{{ url_for("user.register_by_password_success") }}";
                    } else if (data.message === "PASSWORD_WRONG") {
                        document.getElementById("title").innerHTML = "验证失败";
                        document.getElementById("message").innerHTML = "教务密码错误，请返回重试。";
                        final = true
                    } else if (data.message === "INTERNAL_ERROR") {
                        document.getElementById("title").innerHTML = "验证失败";
                        document.getElementById("message").innerHTML = "系统内部错误，请稍后重试。";
                        final = true
                    }
                })
            }

            setInterval(function () {
                if (!final) {
                    getData();
                }

            }, 2000);
        });
    </script>

{% endblock %}