{% extends "layout.html" %}
{% block title %}注册 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">注册每课</h1>
        <h4 class="text-muted">请选择您的学生身份验证方式
        </h4>

    </div>
    <br><br>
    <div class="row row-backbordered">
        <div class="col-sm-12 col-md-6 col-md-offset-3">
            <div class="panel panel-default panel-floating panel-floating-inline">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <tbody>
                        <tr class="row-clickable" data-href="{{ url_for("user.register_by_password", sid=sid) }}">
                            <td><b>使用教务密码验证（快，推荐）</b><br>
                                您可以提供您的教务密码，我们会模拟您登陆以检测您的学生身份。请放心，我们不会保存您的密码。
                            </td>
                        </tr>
                        <tr class="row-clickable" data-href="{{ url_for("user.register_by_email", sid=sid) }}">
                            <td><b>使用 @csu.edu.cn 邮箱验证</b><br>
                                如果您不希望提供教务密码、但您正在使用学校的邮箱，可以通过接收邮件验证码的方式来验证。不过由于学校邮箱系统接收邮件较慢，您可能需要等待较长时间才能收到邮件。
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


{% endblock %}
{% block scripts %}
{% endblock %}