<style type="text/css">
    .category-panel {
        margin-bottom: 3rem;
    }

    .category-title-container {
        overflow: hidden;
        zoom: 1;
    }

    .category-title {
        padding-left: 2rem;
        font-size: 3rem;
        padding-top: 1rem;
        float: left;
    }

    .category-more {
        float: right;
        padding-top: 3rem;
        padding-right: 2rem;
    }

    .class-container {
        border-radius: 9px;
        background: #f0f8ff;
        margin: 0rem 2rem 1rem 2rem;
        padding: 0.6rem;
        border: 1px solid #e7f0f7;
    }

    .class-title {
        font-weight: 500;
    }

    .class-quote {
        color: #888;
        padding: 1em 1.5em 1em 1.5em;
        position: relative;
        text-indent: 10px;
    }

    .class-quote:before {
        color: #a8beca;
        content: "\201C";
        font-size: 3em;
        position: absolute;
        left: -12px;
        top: 40px;
        line-height: 0.1em;
    }

    .class-quote:after {
        color: #a8beca;
        content: "\201D";
        font-size: 3em;
        position: absolute;
        right: 0;
        bottom: 0;
        line-height: 0.1em;
    }

</style>