{% extends "layout.html" %}
{% block title %}全校性选修课 - 每课{% endblock %}
{% block head %}
    {% include "course/elective_styles.html" %}
{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">全校性选修课</h1>
        <h4 class="text-muted" id="classes-count-text">课程加载中，请稍等...</h4>
        <h4 class="text-muted"><a href="{{ url_for("course.elective_assistant") }}">不知道怎么选？选课助手来帮你</a></h4>

    </div>
    <br><br>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" id="category-container">
        </div>
    </div>


{% endblock %}
{% block scripts %}
    <script type="text/javascript">
        function fillCategories() {
            $.getJSON('{{ api_base_url + url_for("api_course.class_categories") }}', null, function (resp) {
                if (resp.status !== "success") {
                    alert(`获取课程分类失败：${resp.status_message}`)
                } else {
                    $('#classes-count-text').text(`共已收录 ${resp.data.total_classes} 节课程`);

                    let categoryColumn = $('#category-container');
                    for (let i in resp.data.categories) {
                        let category = resp.data.categories[i];
                        let content = `<div class="panel panel-default panel-floating panel-floating-inline category-panel">
                <div class="category-title-container">
                    <div class="category-title">${category.name}</div>
                    <div class="category-more">查看更多</div>
                </div>`;

                        for (let j in category.classes) {
                            let klass = category.classes[j];

                            let teacherString = "";
                            for (let k in klass.teachers) {
                                let teacher = klass.teachers[k];
                                teacherString += `${teacher.name}${teacher.title}、`;
                            }
                            teacherString = teacherString.substr(0, teacherString.length - 1);

                            let scoreString;
                            if (klass.score > 0) {
                                scoreString = `${klass.score}分`;
                            } else {
                                scoreString = `暂无评分`;
                            }

                            content += `<div class="class-container">`;
                            content += `
                    <span class="class-title">${klass.name}</span>
                    <br>
                    ${teacherString} <span class="glyphicon glyphicon-star" style="color: #ff8f00"></span> ${scoreString}
                    <br>`;
                            if (klass.review_quote !== null) {
                                content += `<span class="class-quote">${klass.review_quote}</span>`;
                            }
                            content += '</div>';
                        }

                        content += `</div>`;
                        categoryColumn.append(content)
                    }
                }
            })
        }

        $(document).ready(function () {
            fillCategories();
        })

    </script>
{% endblock %}