appdirs==1.4.3
beautifulsoup4==4.5.3
blinker==1.4
click==6.7
contextlib2==0.5.5
Flask==0.12.1
Flask-CDN==1.5.3
Flask-MySQL==1.4.0
Flask-Script==2.0.5
Flask-SQLAlchemy==2.3.2
gitdb2==2.0.3
GitPython==2.1.8
htmlmin==0.1.10
icalendar==3.11.3
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
mysql-connector==2.1.4
packaging==16.8
PyMySQL==0.7.11
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
raven==6.1.0
requests==2.13.0
six==1.10.0
smmap2==2.0.3
SQLAlchemy==1.1.9
termcolor==1.1.0
uWSGI==2.0.15
Werkzeug==0.12.1
xlrd==1.1.0
celery
pymongo
redis
