{% extends "layout.html" %}
{% block title %}捐助 - 每课{% endblock %}
{% block body %}
    <div class="hero hero-homepage">
        <h1 class="hero-header">考虑捐助一下吗？</h1>
        <h4 class="text-muted">作者一直在自费运行本服务。觉得每课对你有用，请 <a href="HTTPS://QR.ALIPAY.COM/FKX00180XGO8ZVEZIVKL02"
                                                          target="_blank"
                                                          onclick="_czc.push(['_trackEvent', '首页', '捐助链接']);">通过支付宝进行捐助</a>
        </h4>

        <br><br>

    </div>


{% endblock %}