{% extends "layout.html" %}
{% block title %}FAQ - 每课{% endblock %}
{% block body %}
    <h1 class="rte-heading text-center">需要帮助吗</h1>
    <div class="row">
        <div class="rte col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
            <h4 class="p1">这里有一些常见问题的解答</h4>
            <p class="p1"><span class="s1"><b>EveryClass 每课是什么？<br></b></span>EveryClass 每课是中南大学的学生 Frederic 开发的一个小项目，它可以生成日历交换格式(.ics)文件，从而可以把你的课表导入到手机、电脑的日历，让课程和你其他的日历事项在同一处展示，从而便于日程的安排。它还能查询和你上同一节课的同学名单，你更可以查询他们每个人的课表。
            </p>
            <p class="p1"><span class="s1"><b>EveryClass 的数据来源是什么？<br></b></span>网站的所有信息都来自学校网站上的公开信息，我没有使用黑客手段取得信息，也没有通过内部渠道获得信息，仅仅是对公开的信息进行了整合。
            </p>
            <p class="p1"><span class="s1"><b>EveryClass 盈利吗？<br></b></span>EveryClass 是不收取任何费用的。项目的发起人 Frederic 在校期间会一直保证网站服务器的正常运行和数据的更新。如果你愿意给项目提供支持，可以支付宝给他一杯咖啡。（账号：vencent.stevens@gmail.com）
            </p>
            <p class="p1"><span class="s1"><b>我不是中南大学的学生，可以给这个项目做一个我们学校的版本吗？<br></b></span>EveryClass 是一个开源的项目，这意味着任何人都能获取到这个项目的源代码。<br>EveryClass@CSU 得以存在的基础是我们学校的教务系统非管理员可以查看全校学生课表。如果你们学校的教务系统也存在此特性，可以邀请你的极客朋友在 <a href="https://github.com/fr0der1c/EveryClass_CSU" target="_blank">GitHub</a> 上 fork 这个项目，然后将其修改为适合于你们学校的版本。
            </p>
        </div>
    </div>
{% endblock %}