{% extends "layout.html" %}
{% block title %}关于 - EveryClass @ CSU{% endblock %}
{% block body %}
    <h1 class="rte-heading text-center">关于 EveryClass</h1>
    <div class="row">
        <div class="rte col-md-offset-2 col-md-8 col-sm-12 col-sm-offset-0">
            <h4 class="p1">
                很高兴遇见你
            </h4>

            <p class="p1">
                我是中南大学16级的某计算机相关专业学生。EveryClass 是我一直打算做的一个项目，终于在2017年5月基本完工了。
            </p>
            <p class="p1">
                想要做这个东西，最初的原因是因为作为半个极简主义者，自己觉得看课表还要用一款单独的 App 太多余了。而且当我询问课程格子的客服"使用课程格子 App
                无法让课表和日历事项在一起显示，管理日程很不方便，能不能把课表导出到系统日历"时，<b>客服给的建议居然是让我把日历事项添加到课程格子</b>......总之场面一度非常尴尬，然后我决定自己写一个程序把课表导入到手机的系统日历。
            </p>
            <p class="p1">
                正好当时自己在学 Python，就边学边做、把这个当成了自己的第一个正式的 Python 项目。从数据的爬取到网站的后端，全部都是用 Python 实现的。写 Python，或者说用 PyCharm 写
                Python，是件比较愉快的事情，至少比写 Java 好。所以我就抱着娱乐的心态慢慢写。
            </p>
            <p class="p1">
                后来发现既然挖到了很多数据，其实可以做一些其他的事情，比如......查询和自己同一节课的人。当你获得了全校的课表，知道上一节课的所有人的名单是一件很自然的事情。我不是说这实现起来有多容易，只是想到这个点子还是挺容易的。后来觉得这其实也是一个需求，虽然没有第一个功能显得那么刚需，但在有的情况下还是很有用的。就顺便把它实现了。
            </p>
            <p class="p1">
                其实做这个项目我是考虑过要不要付费的，因为其实时间的投入和服务器成本这些都还挺大的，不过后来觉得还是给大家免费试用会更好，一是因为现阶段的用户量应该不至于让我在服务器费用上大出血，二是因为我也希望更多人能通过 EveryClass 形成更好的日程管理方案。<b>所以，如果你喜欢 EveryClass，通过它和其他 App 的配合让每天变得不那么匆忙，就把它推荐给你的朋友们吧！</b>
            </p>

            <p class="p1"><span class="s1"><b>联系作者<br></b></span>如果你对 EveryClass 有任何意见或建议，可以通过以下方式联系我：<br>
                E-mail: <a href="mailto:frederic.t.chan@gmail.com">frederic.t.chan@gmail.com</a>
            </p>
        </div>
    </div>
{% endblock %}